.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}








.navbar{
  /* border: 1px solid black; */
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff; /* Set your desired background color */
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.body-box{
  margin-top: 85px;
  background-color: #f8f8fa ;
  border: 1px solid white;
}


.dashboard-container{
  width: 90%;
  margin: auto;
  background-color: #f8f8fa ;
}

.grid-container {
  gap: 106px;
  margin: 20px;
  z-index: 0;
}

.grid-item {
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;
  font-size: 24px;
  font-weight: bold;
  font-family: "Google Sans Display", Roboto, Arial, sans-serif;;
  border-radius: 8px;
  border: 2px solid purple;
  position: relative;
  z-index: 2;
}

.timebox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 20px; */
}
.linkbox{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.fontbtn{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

.dropdown {
  min-width: 40px;
  width: fit-content;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 2% 10%;
  margin-left: 70px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 1;
  transform: translateZ(0);
  white-space: nowrap; /* Prevent the dropdown from wrapping to the next line */
}
.dropdownBox{
  display: flex;
  justify-content: left;
  position: relative;
}
.dropdownBtn{
  width: 23px;
  height: 20px;
  text-align: center;
  background-color: rgb(194, 194, 194);
  border-radius: 4px;
}
.dropdownBtn:hover{
  background-color: gray;
}
